.footer__site {
    background-color: #2C343E;
    display: flex;
    transform: translateY(250px);
}

.footer__image {
    margin: 30px 103px 30px 85px;
}

.footer__img {
    margin-top: 34px;
    margin-left: 30px;

}

.footer__link {
    margin-left: 280px;
    margin-top: 1px;
}

.navbar {
    margin-top: 37px;
}

@media only screen and (max-width: 1280px) {
    .footer__site {
        display: block;
        width: 688px;
        height: 270px;
        margin: 0 auto;
        transform: translateY(160px);
        
    }

    .footer__image {
        margin: 0;
        margin-left: 240px;
        margin-top: 54px;
        margin-bottom: 33px;
    }

    .navbar {
        display: block;
        margin-left: 150px;
        margin-bottom: 30px;
    }

    .footer__link {
        margin: 0;
        margin-left: 250px;
    }
}

@media only screen and (max-width: 720px) {
    .footer__site {
        width: 327px;
    }

    .footer__image {
        margin: 0;
        margin-left: 40px;
        margin-top: 54px;
    }

    .navbar {
        margin: 0;
        height: 20px;
    }

    .footer__link {
        margin: 0;
    }

}